*, div, a, img, h1, h2{
    margin: 0;
    padding: 0;
}
.leftf{
    width:190px;
    height:75px;
    margin-left:10px;
}
.rightf{
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1{
    font-weight: bold;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom:10px;
}
.h2{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10px;
    margin-left:10px;
}
.right_h2{
    font-weight: bold;
    font-size:19px;
    margin-top: 20px;
}
.t1{
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom:10px;
    text-align: justify;
}
.t2{
    font-size:13px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-left:10px;
    text-align: justify;
}
.container{
    min-height:500px;
    display: flex;
    width: 100%;
}
.left{
    width:200px;
    background-color:white;
    
}
.right{
    width:100%;
    background-color:white;
    padding:20px;
}
.wrapper{
    width: 870px;
    margin:auto;
    min-height:500px;
}
.header{
    width:100%;
    min-height:200px;
    background: url(bg.png);
    margin:auto;
}
.footer{
    margin-left:200px;
    margin-top:50px;
    margin-bottom:10px;
    font-size:12px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}